<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>注册</title>
<meta name="keywords"  content="KEYWORDS..." />
<meta name="description" content="DESCRIPTION..." />
<meta name="author" content="DeathGhost" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name='apple-touch-fullscreen' content='yes'>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<link rel="icon" href="__PUBLIC__/images/icon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="__PUBLIC__/images/icon/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="__PUBLIC__/images/icon/apple-touch-icon-120x120-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="196x196" href="__PUBLIC__/images/icon/apple-touch-icon-196x196-precomposed.png">
<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
<script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/gt.js"></script>
 <script>
     $(document).ready(function(){
         $(".formarea li:last input[type='button']").click(function(){

             $('.form').submit();
         });
     });
 </script>
</head>
<body>
<!--header-->
<header>
 <a href="javascript:history.go(-1);" class="iconfont backIcon">&#60;</a>
 <h1>注册</h1>
</header>
<div style="height:1rem;"></div>
<mark class="formMark">这里放电话做什么，请联系400-8200-5385</mark>
<form class='form' method="post" action="{:U('login/registerdata')}">
<ul class="formarea">
 <li>
  <label class="lit">账号：</label>
  <input type="text" name="username" placeholder="手机号码" class="textbox"/>
 </li>
 <li>
  <label class="lit">密码：</label>
  <input type="password" name="password" placeholder="设置密码" class="textbox"/>
 </li>
 <li>
  <label class="lit">确认密码：</label>
  <input type="password" name="repassword" placeholder="确认密码" class="textbox"/>
 </li>
 <li>
  <label class="lit">所在城市：</label>
  <select name="city">
   <optgroup label="郑州市">
    <option>金水区</option>
    <option>中原区</option>
    <option>管城区</option>
    <option>郑东新区</option>
    <option>高新区</option>
    <option>经开区</option>
    <option>惠济区</option>
    <option>新郑市</option>
    <option>登封市</option>
    <option>上街区</option>
    <option>中牟县</option>
   </optgroup>
  </select>
 </li>
 <li>
  <label class="lit">餐馆名称：</label>
  <input type="text" name="restaurant_name" placeholder="餐馆名称" class="textbox"/>
 </li>
 <li>
  <label class="lit">收货人：</label>
  <input type="text" name="linkman" placeholder="收件人真实姓名" class="textbox"/>
 </li>
 <li>
  <label class="lit">联系电话：</label>
  <input type="text" name="linkphone" placeholder="联系电话" class="textbox"/>
 </li>
 <li>
  <label class="lit">收货地址：</label>
  <input type="text" name="treet" placeholder="街道-小区-门牌号" class="textbox"/>
 </li>
 <li>
 <div id="embed-captcha"></div>
 <p id="wait" class="show">正在加载验证码......</p>
 <p id="notice" class="hide">请先完成验证</p>
</li>
 <li class="liLink">
  <a href="../usercenter/article.html" class="fl">《用户协议》</a>
  <a href="{:U('login/login')}" class="fr">已有账号，登陆</a>
 </li>

 <li>
  <input type="button" value="立即注册"/>
 </li>
</ul>
</form>
<div style="height:1.2rem;"></div>
<nav>
 <a href="../Index/index.html" class="homeIcon">首页</a>
 <a href="../goods/category.html" class="categoryIcon">分类</a>
 <a href="../cart/cart.html" class="cartIcon">购物车</a>
 <a href="{:U('usercenter/user')}" class="userIcon">我的</a>
</nav>
<script>
  document.oncontextmenu=new Function("event.returnValue=false;");
  document.onselectstart=new Function("event.returnValue=false;"); 
</script>
<script>
    var handlerEmbed = function (captchaObj) {
        $("input[type='button']").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();
            }
        });
        // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        // 获取id，challenge，success（是否启用failback）
        url: "{:U('login/StartServlet')}?" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            $("#wait").hide();
            $("#notice").hide();
            console.log(data);
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                new_captcha: data.new_captcha,
                product: "float", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerEmbed);
        }
    });
</script>
</body>
</html>
